.bottomFooter {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: var(--bottom-nav);
  -webkit-backdrop-filter: saturate(240%) blur(5px);
  backdrop-filter: saturate(240%) blur(5px);
  z-index: 3;
  border-radius: 9999px;
  border: solid var(--glass-border) 0.5px;
  display: block;
}

.footerRef {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: var(--bottom-nav-shadow);
  display: flex;
}

.navIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.navIndicator::after {
  content: "";
  width: 100%;
  height: calc(100% - 12px);
  backdrop-filter: blur(10px);
  border-radius: 9999px;
  background: var(--text-color);
}

.navWrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  justify-content: space-around;
}

.navTabBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.navIcon {
  font-size: 26px !important;
  transition: all 0.3s ease;
}

.navLabel {
  font-size: 10px;
  transition: all 0.3s ease;
}

.active {
  color: var(--bg-color);
  font-weight: 600;
}

.inactive {
  color: var(--text-sub-color);
  font-weight: 400;
}

@media (min-width: 550px) {
  :global(.mode-phone) .bottomFooter {
    max-width: 700px;
  }
}
